<div class="posts_modal">
  <div class="posts_modal-inner">
    <div class="posts_modal-header">
      <h2 class="posts_modal_head">レコメンド投稿する</h2>
      <div class="posts_modal_cross js_posts_modal_cross">
        <%= link_to posts_cancel_path, remote: true do %>
        <span class="posts_modal_cross-bar"></span>
        <span class="posts_modal_cross-bar"></span>
        <% end %>
      </div>
      <!--/.posts_modal_cross-->
    </div>
    <!--/.posts_modal-header-->
    <%= form_with model: @post, url: posts_path, class: "posts_form" do |f| %>
      <%= f.text_area :txt, class: "posts_form_textarea", placeholder: "自由にテキストを入力しよう！" %>
      <%= f.hidden_field :track_id, class: "posts_form_hidden" %>
      <%= text_field_tag :search, "", class: "posts_form_text js_form_text", placeholder: "曲名を入力してください", remote: true %>
      <div class="posts_form_tracks js_form_tracks">
      </div>
      <div class="posts_btn-wrapper">
        <%= link_to "キャンセル", posts_cancel_path, class: "posts_btn posts_btn_cancel js_btn_cancel", remote: true %>
        <%= f.submit "投稿する", class: "posts_btn posts_btn_submit" %>
      </div>
    <% end %>
  </div>
  <!--/.posts_modal-inner-->
</div>
<!--/.posts_modal-->