console.log("<%= @track_id %>");
<!-- 取得した曲IDをパラメータに設定 -->
$(".posts_form_hidden").attr("value", "<%= @track_id %>");
<!-- 検索入力欄を無効にする -->
$(".posts_form_text").attr("disabled", true);
<!-- 選択済み画面を表示 -->
$(".js_form_tracks").html(`
  <div class="posts_selected-track_item">
    <div class="posts_selected-track_img-wrapper">
      <img class="posts_selected-track_img" src="<%= @track_image %>" />
    </div>
    <div class="posts_selected-track_info-wrapper">
      <p class="posts_selected-track_name"><%= @track_name %></p>
      <p class="posts_selected-track_artist"><%= @track_artist %></p>
    </div>
    <%= image_tag "icon_check.svg", class: "posts_selected-track_icon__check" %>
    <%= link_to posts_unselect_path(search: @search), class: "posts_selected-track_icon-link", remote: true do %>
      <%= image_tag "icon_arrow-left.svg", class: "posts_selected-track_icon__arrow" %>
    <% end %>
  </div>
`);
<!-- 検索結果欄のスタイル変更のためにクラス付与 -->
$(".js_form_tracks").removeClass("is_active");
$(".js_form_tracks").addClass("is_hidden");
<!-- 検索入力欄の値をクリア -->
$(".js_form_text").val("");
$(".js_form_text").attr("placeholder", "");
<!-- submitボタンを制御 -->

if ($(".js_form_textarea").val()) {
  <!-- 曲選択した時点でtextareaに値がある場合 -->
  <!-- submitボタンを有効化 -->
  $(".js_btn_submit").attr("disabled", false);
} else {
  <!-- 曲選択した時点でtextareaに値がない場合 -->
  <!-- textareaの値をチェック -->
  $(".js_form_textarea").on("keyup", function() {
    if ($(this).val()) {
      <!-- textareaに値があればsubmitボタンを有効化 -->
      $(".js_btn_submit").attr("disabled", false);
      console.log("あるよ");
    } else {
      <!-- textareaに値がなければsubmitボタンを無効化 -->
      $(".js_btn_submit").attr("disabled", true);
      console.log("ないよ");
    }
  });
}