<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="今聴いている曲を共有できる音楽のコミュニティサービスです" />
    
    <!-- favicon/webclipicon -->
    
    <!-- ogp -->
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="js_body">
    <!-- deviseの設定 -->
    <%= notice %>
    <%= alert %>
    <% if user_signed_in? %>
      <div class="js_wrapper">
        <%= render 'layouts/header' %>
        <%= render 'layouts/postBtn' %>
        <div class="js_template-wrapper l_contents">
          <%= yield %>
        </div>
        <!--/.js_template-wrapper-->
        <%= render 'layouts/footer' %>
      </div>
      <!--/.js_wrapper-->
      <div class="posts_modal-wrapper js_modal-wrapper l_container"></div>
    <% else %>
      <div class="js_wrapper">
        <%= render 'layouts/header' %>
        <div class="js_template-wrapper l_contents">
          <%= yield %>
        </div>
        <!--/.js_template-wrapper-->
      </div>
      <!--/.js_wrapper-->
    <% end %>
  </body>
</html>
