<div class="users_signup">
  <div class="users_signup-inner">
    <h2 class="users_signup_head">アカウントを作成しよう！</h2>
    <%= form_with model: @user, url: user_registration_path, class: "users_form" do |f| %>
      <div class="users_form-group">
        <%= f.label :account_id, "アカウントID", class: "users_form_label" %>
        <%= f.text_field :account_id, autofocus: true, autocomplete: "email", class: "users_form_text-field", placeholder: "musiqTarou" %>
      </div>
      <div class="users_form-group">
        <%= f.label :email, "メールアドレス", class: "users_form_label" %>
        <%= f.email_field :email, class: "users_form_text-field", placeholder: "musiq@example.com" %>
      </div>
      <div class="users_form-group">
        <%= f.label :password, "パスワード", class: "users_form_label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "users_form_text-field", placeholder: "8文字以上で設定してください" %>
        <%= f.password_field :password_confirmation, class: "users_form_text-field users_form_confirmation-field", placeholder: "もう一度入力してください" %>
      </div>
      <div class="users_form_btn-group">
        <%= f.submit "アカウントを作成する", class: "users_form_btn__submit" %>
        <%= link_to "ログインページに戻る", new_user_session_path, class: "users_form_link__signup" %>
      </div>
    <% end %>
  </div>
  <!--/.users_signup-inner-->
</div>
<!--/.users_signup-->